.messageBax{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  max-width: 500px;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: white;
}

.messageBax-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }