#Rooms{
    .classic{
        background-image: url(../../images/rooms/classic.jpg)
    }

    .deluxe{
        background-image: url(../../images/rooms/deluxe.jpg)
    }

    .family{
        background-image: url(../../images/rooms/family.jpg)
    }

    .suite{
        background-image: url(../../images/rooms/suite.jpg)
    }

    .luxury{
      
        background-image: url(../../images/rooms/luxury.jpg)
    }

    .superior{
        background-image: url(../../images/rooms/superior.jpg)
    }

    .room1{
        background-image: url(../../images/rooms/room1.jpg)
    }

    .room2{
        background-image: url(../../images/rooms/room2.jpg)
    }

    .room3{
        background-image: url(../../images/rooms/room3.jpg)
    }

    .room4{
        background-image: url(../../images/rooms/room4.jpg)
    }

    .room5{
        background-image: url(../../images/rooms/room5.jpg)
    }

    .room6{
        background-image: url(../../images/rooms/room6.jpg)
    }

    .blog-img1{
        background-image: url(../../images/blog/image_1.jpg)
    }

    .blog-img2{
        background-image: url(../../images/blog/image_2.jpg)
    }

    .blog-img3{
        background-image: url(../../images/blog/image_3.jpg)
    }
}
